.App {
   display: flex;
   text-align: center;
   background-image: url("./components/assets/images/fondo_rick_and_morty.jpg");
   background-repeat: no-repeat;
   background-size:cover;
   background-attachment: fixed;
   background-position: center center;   
   min-height: 100vh;
   flex-direction: column;
   margin: 0;

   
}
.imagen {
   
   
   width: 500px;
   height: 400px;
   margin-left: 20%;
   border-radius: 40px;
}


